<div id="arriba">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing - Add LocalStorage
    </ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content [fullscreen]="true">
  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4178e949665279.560862a568876.gif" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Testing - Add LocalStorage
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>{{recovertext}}</ion-label>
    <input type="text" [(ngModel)]="receivetext">
    <button (click)="print()">Send</button>
  </div>
</ion-content>
